.App {
  text-align: center;
  padding: 20px;
  background-color: #f9f9f9;
  min-height: 100vh;
  transition: background-color 0.5s, color 0.5s;
}

h1 {
  margin-bottom: 30px;
}

/* Dark Mode */
.App.dark {
  background-color: #121212;
  color: white;
}

/* Dark Mode Toggle Button */
.dark-toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 14px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 18px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
  z-index: 1000;
}

.dark-toggle:hover {
  background-color: #0056b3;
  transform: scale(1.1);
}